<!DOCTYPE html>
<html>
	<head>
		<title>Clock test for Docker</title>
		<style type="text/css" media="screen">
		body {
			margin: 0;
			padding: 0;
			font-size: 7.6em;
			font-family: Arial;
		}
		
		body > div {
			margin: 0.6em 0;
			padding: 0;
			text-align: center;
			color: #aaa;
		}
		
		span {
			color: #<%= ENV['CLOCKCOLOR'] || 333 %>;
		}
		</style>
	</head>
	
	<body>
		<h1>Master Branch</h1>
		
		<div>
			Time is			
			<span><%= @hour %></span>
			:
			<span><%= @minute %></span>
			:
			<span><%= @second %></span>
		</div>
		
	</body>
</html>